.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #DEDEDE;

    .input {
        display: flex;
        width: 192px;
        height: 32px;
        margin-left: 10px;
        flex-direction: row;
        justify-content: center;
    }

    .button {
        width: 32px;
        height: 32px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #DEDEDE;
        margin-right: 10px;
        border-radius: 4px;
        cursor: pointer;
    }
}