.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    .input {
        display: flex;
        width: 80%;
        height: 32px;
        flex-direction: row;
        justify-content: center;
    }

    .button {
        width: 28px;
        height: 28px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}