.container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    .toolbar {
        width: 100%;
        height: 120px;
        min-height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;

        .card {
            width: 98%;
            height: 100px;
        }

        .tool_buttons {
            display: flex;

            .tool_button {
                margin: 0 5px;
            }
        }
    }

    .grid {
        width: 100%;
        flex: 1;
        overflow: hidden;

        display: flex;
        justify-content: center;
        align-items: center;

        .card {
            width: 98%;
            height: calc(100% - 20px);
        }

        .carousel {}

        :global {
            .ant-card-body {
                padding: 0 0;
                width: 100%;
                height: 100%;
            }

            .carousel {
                width: 100%;
                height: 100%;
                padding: 10px;
                overflow: auto;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }

        .slider_container {
            width: 100%;
            overflow: hidden;
            // position: relative;
            margin: auto;

            .button {
                border-radius: 50%;
                background-color: #FFFFFF;
                color: #444444;
                width: 60px;
                height: 60px;
                font-size: 35px;
            }

            .buttonBack {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                margin-left: 10px;
                opacity: 0.8;
            }

            .buttonNext {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                margin-right: 10px;
                opacity: 0.8;
            }


            .image_item {
                background-color: #000000;
                display: flex;
                justify-content: center;
                align-items: center;

                img {}
            }
        }


        .dot_group {
            width: 90%;
            overflow-x: auto;
            padding: 10px 10px;
            background-color: #dedede;
            margin-top: 10px;
            border-radius: 6px;

            display: flex;
            justify-content: flex-start;

            .dot_item {
                margin: 0 5px;
                width: 40px;
                height: 60px;

                position: relative;

                .dot_item_mask {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }

                .dot_item_image {
                    width: 40px;
                    height: 60px;
                }
            }

            .dot_item.current_slide {
                .dot_item_mask {
                    background-color: #999999;
                    opacity: 0.8;
                }
            }
        }
    }
}