@primary-color: #499CFB;
@secondary-color: #A7E9BB;
@warning-color: #ECA554;
@submit-color: #EB7D54;

@primary-bg-color: #E4E4E4;
@secondary-bg-color: #E4E4E4;

@bg-color1: #02A88D;
@bg-color2: #66B7EF;
@bg-color3: #E06C95;
@bg-color4: #A173C7;