@import url('../variable.less');


.side {
    width: 250px;
    min-width: 250px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: @side-bg-color;
    border-right: 1px solid #c4c4c4;

    .side_header {
        width: 100%;
        height: 55px;
    }

    .side_item {
        .side_item_avatar {
            font-size: 24px;
        }
    }
}

.content {
    height: 100%;
    overflow: hidden;
    flex-grow: 1;
    background-color: @content-bg-color;
}