.container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .example {
        width: 100%;
        line-height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        font-size: 12px;
        border-bottom: 1px solid #DEDEDE;
    }

    .panel {
        width: 100%;
        flex: 1;
        overflow-y: auto;
        padding: 10px 10px;
    }

    .run_button {
        width: 100%;
        border-top: 1px solid #DEDEDE;
    }
}