@import url('@/variable.less');

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid #DEDEDE;
        border-radius: 10px;

        width: 180px;
        height: 180px;
        margin: 6px 6px;

        position: relative;
        z-index: 5;

        .tag_bg {
            position: absolute;
            right: -26px;
            top: -44px;
            transform: rotate(-45deg);
            width: 36px;
            height: 36px;
            border-top: 36px solid transparent;
            border-bottom: 36px solid transparent;
            border-left: 36px solid #DEDEDE;
            box-sizing: content-box;
        }

        .tag {
            position: absolute;
            transform: rotate(45deg);
            color: #fff;
            width: 100px;
            height: 62px;
            line-height: 44px;
            top: 0px;
            right: -20px;
            z-index: 1;
            text-align: center;
        }

        .tag_bg.active {
            border-left: 36px solid #FF5858;
        }

        .tag.active {}


        .icon {
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 50px;
            color: #DEDEDE;

            img {
                width: 45px;
                height: 45px;
            }
        }

        .title {
            margin-top: -10px;
            height: 30px;
            line-height: 30px;
            font-size: 14px;
            color: #DEDEDE;
        }

        .mask_bg {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #777777;
            opacity: 0.6;
            border-radius: 10px;
        }
    }

    .item.active {
        .icon {
            color: @success-color;
        }

        .title {
            color: @success-color;
        }
    }
}