.container {
    display: flex;
    flex-direction: row;

    .avatar {
        width: 60px;
        height: 60px;
        min-height: 60px;
        min-width: 60px;
    }

    .message {
        flex-grow: 1;

        .code_message {
            background-color: #F7F7F8;
            padding: 15px 15px;
            border-radius: 8px;
        }
    }
}

.user_message {
    background-color: #DDF1FF;
    min-height: 80px;
    padding: 10px 10px;
}

.assistant_message {
    background-color: #FFFFFF;
    min-height: 80px;
    padding: 10px 10px;
}

.system_message {
    background-color: #FFFFFF;
    min-height: 80px;
    padding: 10px 10px;
}